//背景色
@back_color: #f8f8fa;
//前景色
@fore_color: #ffffff;
//黑色背景色
@BackBg:#393d49;
@FooterBg:#333;
//关于我页面github块背景色
@GitBlack:#555;

//白色字体颜色
@FontColorWhite:#fff;
//灰色字体颜色
@FontColorGray: rgba(0,0,0,0.65);
@FontColorGrayDeep:rgba(0,0,0,0.43);

//默认字体颜色
@DefaultFontColor:#333;

@FontColorPagNation:#428bca;
//footer
@FontColorGrayWhite: #5e5e5e;
@footerColor:#888;

//透明白色背景
@TranslucentWhitleBackg:hsla(0,0%,100%,.9);

//边框颜色
@BorderColor:#e9e9e9;

@ThemeColor:#01aaed;

//蒙层颜色
@Wrapper:#000;

.padding-bottom-10{
  padding-bottom:10px !important;
}

//兼容浏览器的flex
.myflex(@y){
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;

  -webkit-box-align: @y;/*center|start*/
  -webkit-align-items: @y;
  align-items: @y;
}

body {
  padding: 0;
  margin: 0;
  line-height: 24px;
  font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
  color: @DefaultFontColor;
  background-color: #efefee;
  font-size: 14px;
  -webkit-tap-highlight-color:transparent;
  // user-select: none; /*此属性可以使网页无法选中文本*/
}

a{
  text-decoration:underline;
}

input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 1px solid @BorderColor;
  padding: 0 0.5rem;
}

textarea{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 1px solid @BorderColor;
  padding: 0.5rem 0.5rem;
}

html {
  font-size: 16px;
}

.Fade-enter-active, .Fade-leave-active {
  transition: opacity .5s;
}
.Fade-enter, .Fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// 滚动条整体 整体如果不设置，只设置滑块和轨道是没有效果的
::-webkit-scrollbar {
  width: 5px;
  height: 5px; // height对于纵向滚动条来说没有用，但是对于横向就有用了
  border-radius: 10px;
}
// 滑块
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #adadaba4;
  // height: 50px; // 整体设了宽高后，这里宽高是无效的
  // width: 50px; 
}
// 轨道
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
  width: 100px;
}

